<a href="https://colab.research.google.com/github/guifzy/EDA/blob/main/palmas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('/content/Palmas dataset.xlsx')

df.head()

,SEXO,IDADE,ESTADO CIVIL,NÍVEL DE INSTRUÇÃO,CASA PRÓPRIA,FILHOS,MORADORES,RENDA FAMILIAR,TRABALHO,RENDA PESSOAL,...,QUALIDADE DE VIDA NOS ÚLTIMOS ANOS,AUXÍLIO DO GOVERNO,SATISFAÇÃO,NÚMERO DE AMIGOS,LAZER,RELIGIÃO,JÁ MOROU EM OUTROS LUGARES,OCUPAÇÃO EM OUTRO MUNICÍPIO,SAIR DE PALMAS,EMPREGO ESPECÍFICO
0,B,23,A,E,B,B,C,4200,D,2400,...,B,NENHUM,C,B,B,C,NÃO,X,B,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,A,38,B,D,A,C,E,5000,D,3800,...,B,BOLSA FAMÍLIA,C,B,B,A,BELÉM - PA,PEDREIRO,B,GARI
2,A,26,B,E,B,B,C,3000,D,1500,...,B,BOLSA FAMÍLIA,B,B,B,B,GURUPI - TO,VIGIA,B,SERVIÇOS GERAIS
3,B,26,A,F,A,B,C,3000,B,1800,...,A,BOLSA FAMÍLIA,C,B,B,D,XINGUARA - PA,BALCONISTA,A,VENDEDORA
4,A,50,D,D,A,D,A,1320,C,1320,...,B,NENHUM,A,B,B,B,FORTALEZA - CE,X,B,PORTEIRO

# Pre-Processando

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SEXO                                329 non-null    object
 1   IDADE                               329 non-null    object
 2   ESTADO CIVIL                        329 non-null    object
 3   NÍVEL DE INSTRUÇÃO                  329 non-null    object
 4   CASA PRÓPRIA                        329 non-null    object
 5   FILHOS                              329 non-null    object
 6   MORADORES                           329 non-null    object
 7   RENDA FAMILIAR                      329 non-null    int64
 8   TRABALHO                            329 non-null    object
 9   RENDA PESSOAL                       329 non-null    int64
 10  TEMPO EM PALMAS                     329 non-null    object
 11  RENDA ANTERIOR                      329 non-null    object
 12  QUALIDADE DE VIDA                   329 non-null    object
 13  POSSUI MAIS BENS                    329 non-null    object
 14  QUALIDADE DE VIDA FUTURA            329 non-null    object
 15  PODE MELHORAR                       329 non-null    object
 16  FATORES                             329 non-null    object
 17  VIOLENCIA                           329 non-null    object
 18  QUALIDADE EDUCAIONAL                329 non-null    object
 19  SETOR DE TRABALHO                   329 non-null    object
 20  QUE SETOR RECOMENDA                 329 non-null    object
 21  CIDADE NATAL                        329 non-null    object
 22  ANOS DE TRABALHO                    329 non-null    object
 23  DROGAS                              329 non-null    object
 24  QUALIDADE DE VIDA NOS ÚLTIMOS ANOS  329 non-null    object
 25  AUXÍLIO DO GOVERNO                  329 non-null    object
 26  SATISFAÇÃO                          329 non-null    object
 27  NÚMERO DE AMIGOS                    329 non-null    object
 28  LAZER                               329 non-null    object
 29  RELIGIÃO                            329 non-null    object
 30  JÁ MOROU EM OUTROS LUGARES          329 non-null    object
 31  OCUPAÇÃO EM OUTRO MUNICÍPIO         329 non-null    object
 32  SAIR DE PALMAS                      329 non-null    object
 33  EMPREGO ESPECÍFICO                  328 non-null    object
dtypes: int64(2), object(32)
memory usage: 87.5+ KB

In [ ]:
colunas = list(df.columns)
for coluna in colunas:
    df[coluna.lower()] = df[coluna]

df = df.drop(columns=colunas)
df.head()

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos,lazer,religião,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,B,23,A,E,B,B,C,4200,D,2400,...,B,NENHUM,C,B,B,C,NÃO,X,B,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,A,38,B,D,A,C,E,5000,D,3800,...,B,BOLSA FAMÍLIA,C,B,B,A,BELÉM - PA,PEDREIRO,B,GARI
2,A,26,B,E,B,B,C,3000,D,1500,...,B,BOLSA FAMÍLIA,B,B,B,B,GURUPI - TO,VIGIA,B,SERVIÇOS GERAIS
3,B,26,A,F,A,B,C,3000,B,1800,...,A,BOLSA FAMÍLIA,C,B,B,D,XINGUARA - PA,BALCONISTA,A,VENDEDORA
4,A,50,D,D,A,D,A,1320,C,1320,...,B,NENHUM,A,B,B,B,FORTALEZA - CE,X,B,PORTEIRO

# Organizando o Sexo

In [ ]:
df.replace({'sexo':{'A': 'M', 'B':'F'}}, inplace=True)
df['sexo']

0      F
1      M
2      M
3      F
4      M
      ..
324    M
325    F
326    M
327    M
328    M
Name: sexo, Length: 329, dtype: object

# Estado civil

In [ ]:
df['estado civil'].unique()

array(['A', 'B', 'D', 'C', 'E'], dtype=object)

In [ ]:
df['estado civil'].replace({'A':'Solteiro', 'B':'Casado', 'C':'Divorciado', 'D':'Viuvo', 'E':'Outro'}, inplace=True)
df['estado civil'].unique()

<ipython-input-20-8fae1ec1b7fe>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['estado civil'].replace({'A':'Solteiro', 'B':'Casado', 'C':'Divorciado', 'D':'Viuvo', 'E':'Outro'}, inplace=True)

array(['Solteiro', 'Casado', 'Viuvo', 'Divorciado', 'Outro'], dtype=object)

# Nivel de Instrução

In [ ]:
df['nível de instrução'].unique()

array(['E', 'D', 'F', 'A', 'I', 'G', 'H', 'B', 'J', 'C'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['nível de instrução'] = le.fit_transform(df['nível de instrução'])
df['nível de instrução'].unique()

array([4, 3, 5, 0, 8, 6, 7, 1, 9, 2])

Os valores númericos escalam de, ***Sem Escolaridade*** até ***Doutorado***

# Casa Propria

In [ ]:
df['casa própria'].unique()

array(['B', 'A', 'E'], dtype=object)

In [ ]:
df['casa própria'].replace({'A':'Sim', 'B':'Não'}, inplace=True)
df['casa própria'].unique()

<ipython-input-24-3bc5008ad2bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['casa própria'].replace({'A':'Sim', 'B':'Não'}, inplace=True)

array(['Não', 'Sim', 'E'], dtype=object)

In [ ]:
df['casa própria'].value_counts()

casa própria
Não    164
Sim    163
E        2
Name: count, dtype: int64

In [ ]:
df['casa própria'].replace({'E':np.nan}, inplace=True)
df['casa própria'].value_counts()

casa própria
Não    164
Sim    163
Name: count, dtype: int64

# Filhos

In [ ]:
df['filhos'].unique()

array(['B', 'C', 'D', 'A'], dtype=object)

In [ ]:
df['filhos'].replace({'A':'0', 'B':'1', 'C':'2', 'D':'3+'}, inplace=True)
df['filhos'].unique()

<ipython-input-29-65991b503295>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filhos'].replace({'A':'0', 'B':'1', 'C':'2', 'D':'3+'}, inplace=True)

array(['1', '2', '3+', '0'], dtype=object)

# Moradores em Residencia

In [ ]:
df['moradores'].unique()

array(['C', 'E', 'A', 'D', 'B'], dtype=object)

In [ ]:
df['moradores']
df['moradores'].unique()

<ipython-input-31-36a225404548>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['moradores'].replace({'A':'1', 'B':'2', 'C':'3', 'D':'4', 'E':'5+'}, inplace=True)

array(['3', '5+', '1', '4', '2'], dtype=object)

In [ ]:
df.head()

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos,lazer,religião,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,F,23,Solteiro,4,Não,1,3,4200,D,2400,...,B,NENHUM,C,B,B,C,NÃO,X,B,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,M,38,Casado,3,Sim,2,5+,5000,D,3800,...,B,BOLSA FAMÍLIA,C,B,B,A,BELÉM - PA,PEDREIRO,B,GARI
2,M,26,Casado,4,Não,1,3,3000,D,1500,...,B,BOLSA FAMÍLIA,B,B,B,B,GURUPI - TO,VIGIA,B,SERVIÇOS GERAIS
3,F,26,Solteiro,5,Sim,1,3,3000,B,1800,...,A,BOLSA FAMÍLIA,C,B,B,D,XINGUARA - PA,BALCONISTA,A,VENDEDORA
4,M,50,Viuvo,3,Sim,3+,1,1320,C,1320,...,B,NENHUM,A,B,B,B,FORTALEZA - CE,X,B,PORTEIRO

# Trabalho

In [ ]:
df['trabalho'].unique()

array(['D', 'B', 'C', 'A', 'E'], dtype=object)

In [ ]:
df['trabalho'].replace({'A':'Não', 'B':'Recebe auxílio', 'C':'Sim', 'D':'Ajuda a família', 'E':'Sustenta a família'}, inplace=True)
df['trabalho'].value_counts()

<ipython-input-34-fbbfd3db9ea8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['trabalho'].replace({'A':'Não', 'B':'Recebe auxílio', 'C':'Sim', 'D':'Ajuda a família', 'E':'Sustenta a família'}, inplace=True)

trabalho
Ajuda a família       112
Sim                   107
Sustenta a família     47
Recebe auxílio         35
Não                    28
Name: count, dtype: int64

In [ ]:
df.columns

Index(['sexo', 'idade', 'estado civil', 'nível de instrução', 'casa própria',
       'filhos', 'moradores', 'renda familiar', 'trabalho', 'renda pessoal',
       'tempo em palmas', 'renda anterior', 'qualidade de vida',
       'possui mais bens', 'qualidade de vida futura', 'pode melhorar',
       'fatores', 'violencia', 'qualidade educaional', 'setor de trabalho',
       'que setor recomenda', 'cidade natal', 'anos de trabalho', 'drogas',
       'qualidade de vida nos últimos anos', 'auxílio do governo',
       'satisfação', 'número de amigos', 'lazer', 'religião',
       'já morou em outros lugares', 'ocupação em outro município',
       'sair de palmas', 'emprego específico'],
      dtype='object')

# Renda Anterior

In [ ]:
df['renda anterior'].unique()

array(['X', 1500, 900, 0, 2000, 850, 1400, 1000, 3000, 1800, 800, 2500,
       1300, 2600, 2614, 300, 500, 3500, 100, 18000, 5000, 400, 10000,
       1100, 4000, 14000, 6000, 12000, 650, 950, 700, 724, 1212, 1050,
       750, 8000, 460, 1200, 15000, 1250, 5011, 600, 1700, 1750, 1320,
       2100, 30000, 200, 150], dtype=object)

# Qualidade de Vida

In [ ]:
df['qualidade de vida'].unique()

array(['D', 'A', 'B', 'C'], dtype=object)

In [ ]:
df['qualidade de vida'].replace({'A':'Melhorou', 'B':'Igual', 'C':'Piorou', 'D':'Sou Morador'}, inplace=True)
df = df.rename(columns = {'qualidade de vida':'qualidade de vida imigrante'})
df['qualidade de vida imigrante'].unique()

array(['Sou Morador', 'Melhorou', 'Igual', 'Piorou'], dtype=object)

# Bens

In [ ]:
df['possui mais bens'].unique()

array(['C', 'A', 'B'], dtype=object)

In [ ]:
df['possui mais bens'].replace({'A':'Aumentou', 'B':'Não Aumentou', 'C':'Sou Morador'}, inplace=True)
df = df.rename(columns = {'possui mais bens':'bens ao imigrar'})
df['bens ao imigrar'].unique()

<ipython-input-43-41b94223994f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['possui mais bens'].replace({'A':'Aumentou', 'B':'Não Aumentou', 'C':'Sou Morador'}, inplace=True)

array(['Sou Morador', 'Aumentou', 'Não Aumentou'], dtype=object)

# Qualidade de Vida Futura

In [ ]:
df['qualidade de vida futura'].unique()

array(['A', 'B'], dtype=object)

In [ ]:
df['qualidade de vida futura'].replace({'A':'Melhora', 'B':'Sem Melhora'}, inplace=True)
df = df.rename(columns = {'qualidade de vida futura':'qualidade em cinco anos'})
df['qualidade em cinco anos'].unique()

<ipython-input-45-0e0ccee38c1e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['qualidade de vida futura'].replace({'A':'Melhora', 'B':'Sem Melhora'}, inplace=True)

array(['Melhora', 'Sem Melhora'], dtype=object)

# Pode Melhorar

In [ ]:
df['pode melhorar'].unique()

array(['A', 'B'], dtype=object)

In [ ]:
df['pode melhorar'].replace({'A':'Sim', 'B':'Não'}, inplace=True)
df = df.rename(columns = {'pode melhorar':'pode melhorar em cinco anos'})
df['pode melhorar em cinco anos'].unique()

<ipython-input-47-18b142fa96b0>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pode melhorar'].replace({'A':'Sim', 'B':'Não'}, inplace=True)

array(['Sim', 'Não'], dtype=object)

# Fatores

In [ ]:
df['fatores'].unique()

array(['G', 'A C', 'C D', 'A D', 'D E', 'C E', 'A E', 'A',
       'F (PROXIMIDADE AOS PAIS)', 'F (VIM COM A FAMÍLIA)', 'C', 'F', 'E',
       'F (MUDANÇA FAMILIAR)', 'D', 'F (BUSCA DE OPORTUNIODADES)',
       'F (AGRÔNOMO)', 'C F (FILHOS)', ' A E', 'B E', 'F (CASA)',
       'F (FAMÍLIA)', 'F (TRABALHO)', 'F (FAMÍLA)', 'A B C D E ', 'B C',
       'F (TRANSFERÊNCIA, TRABALHO)', 'B', 'A C E',
       'F (OPORTUNIDADE DE EMPREGO)', 'F (TRANSFERÊNCIA)', 'A C D',
       'C F (LAZER)', 'F (NESCESSIDADE)'], dtype=object)

In [ ]:
df.drop(columns='fatores', inplace=True)
df.columns

Index(['sexo', 'idade', 'estado civil', 'nível de instrução', 'casa própria',
       'filhos', 'moradores', 'renda familiar', 'trabalho', 'renda pessoal',
       'tempo em palmas', 'renda anterior', 'qualidade de vida imigrante',
       'bens ao imigrar', 'qualidade em cinco anos',
       'pode melhorar em cinco anos', 'violencia', 'qualidade educaional',
       'setor de trabalho', 'que setor recomenda', 'cidade natal',
       'anos de trabalho', 'drogas', 'qualidade de vida nos últimos anos',
       'auxílio do governo', 'satisfação', 'número de amigos', 'lazer',
       'religião', 'já morou em outros lugares', 'ocupação em outro município',
       'sair de palmas', 'emprego específico'],
      dtype='object')

# Violencia

In [ ]:
df['violencia'].unique()

array(['C', 'A', 'B', 'V'], dtype=object)

In [ ]:
df['violencia'].replace({'A':'Muito Violenta', 'B':'Violenta', 'C':'Pouco Violenta', 'V':np.nan}, inplace=True)
df['violencia'].value_counts()

<ipython-input-51-4e5e817ad535>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['violencia'].replace({'A':'Muito Violenta', 'B':'Violenta', 'C':'Pouco Violenta', 'V':np.nan}, inplace=True)

violencia
Violenta          147
Pouco Violenta    143
Muito Violenta     38
Name: count, dtype: int64

# Qualidade Educacional

In [ ]:
df['qualidade educaional'].unique()

array(['B', 'A', 'C'], dtype=object)

In [ ]:
df['qualidade educaional'].replace({'A':'Boa', 'B':'Regular', 'C':'Ruim'}, inplace=True)
df['qualidade educaional'].unique()

<ipython-input-53-a97958cc5257>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['qualidade educaional'].replace({'A':'Boa', 'B':'Regular', 'C':'Ruim'}, inplace=True)

array(['Regular', 'Boa', 'Ruim'], dtype=object)

In [ ]:
df.head()

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos,lazer,religião,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,F,23,Solteiro,4,Não,1,3,4200,Ajuda a família,2400,...,B,NENHUM,C,B,B,C,NÃO,X,B,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,M,38,Casado,3,Sim,2,5+,5000,Ajuda a família,3800,...,B,BOLSA FAMÍLIA,C,B,B,A,BELÉM - PA,PEDREIRO,B,GARI
2,M,26,Casado,4,Não,1,3,3000,Ajuda a família,1500,...,B,BOLSA FAMÍLIA,B,B,B,B,GURUPI - TO,VIGIA,B,SERVIÇOS GERAIS
3,F,26,Solteiro,5,Sim,1,3,3000,Recebe auxílio,1800,...,A,BOLSA FAMÍLIA,C,B,B,D,XINGUARA - PA,BALCONISTA,A,VENDEDORA
4,M,50,Viuvo,3,Sim,3+,1,1320,Sim,1320,...,B,NENHUM,A,B,B,B,FORTALEZA - CE,X,B,PORTEIRO

# Setor de Trabalho

In [ ]:
df['setor de trabalho'].unique()

array(['B', 'A', 'C', 'E', 'D', 'F (AGRÔNOMO)', 'F (LOGISTICA)',
       'F (SETOR DE SERVIÇOS AUTOMOTIVOS)', 'F (MOTORISTA)', 'A B',
       'F (ARTESANATO)', 'F (AUTÔNOMO)', 'F (MERCADO)', 'F (EMPRESÁRIO)',
       'F (COMERCIANTE)', 'F (AEROPORTUARIO)', 'F (DIARIA)',
       'F (EMPRESÁRIA)'], dtype=object)

In [ ]:
import regex as re
df['setor de trabalho'] = df['setor de trabalho'].apply(lambda x: re.sub(r'F.*', 'F', x))
df['setor de trabalho'].replace({'A':'Público', 'B':'Privado', 'A B': 'Ambos Setores', 'C': 'Não Trabalha', 'D': 'PJ', 'E': 'Aposentado', 'F': 'Outro'}, inplace=True)
df['setor de trabalho'].unique()

<ipython-input-56-abaa71df5bb9>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['setor de trabalho'].replace({'A':'Público', 'B':'Privado', 'A B': 'Ambos Setores', 'C': 'Não Trabalha', 'D': 'PJ', 'E': 'Aposentado', 'F': 'Outro'}, inplace=True)

array(['Privado', 'Público', 'Não Trabalha', 'Aposentado', 'PJ', 'Outro',
       'Ambos Setores'], dtype=object)

In [ ]:
df['setor de trabalho'].value_counts()

setor de trabalho
Público          139
Privado          118
Não Trabalha      23
PJ                16
Aposentado        14
Outro             14
Ambos Setores      5
Name: count, dtype: int64

# Que Setor Recomenda

In [ ]:
df['que setor recomenda'].unique()

array(['C', 'A', 'B', 'D (IMOBILIÁRIO)', 'D (INDECISO)', 'D'],
      dtype=object)

In [ ]:
df['que setor recomenda'] = df['que setor recomenda'].apply(lambda x: re.sub(r'D.*', 'D', x))
df['que setor recomenda'].replace({'A':'Público', 'B':'Privado', 'C': 'Autonomo', 'D':'Outro'}, inplace=True)
df['que setor recomenda'].value_counts()

<ipython-input-59-1894454b1d92>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['que setor recomenda'].replace({'A':'Público', 'B':'Privado', 'C': 'Autonomo', 'D':'Outro'}, inplace=True)

que setor recomenda
Público     162
Privado     105
Autonomo     58
Outro         4
Name: count, dtype: int64

# Cidade Natal

In [ ]:
df['cidade natal'].unique()

array(['PALMAS, TO', 'BELÉM, PA', 'CONFRESA, MT', 'PARAUAPEBAS, PA',
       'FORTALEZA, CE', 'SÃO FÉLIX DO XINGU, PA',
       'VITÓRIA DA CONQUISTA, BA', 'BARRA, BA', 'ANÁPOLIS, GO',
       'BARRA DA CORDA, MA', 'SANTOS, SP', 'VITÓRIA, ES',
       'BELO HORIZONTE, MG', 'GOIÂNIA, GO', 'PORTO NACIONAL, TO',
       'SÃO LUÍS, MA', 'BOLSAS, MA', 'PARANÃ, TO', 'PIUM, TO',
       'ITAITUBA, PA', 'FOZ DO IGUAÇÚ, PR', 'GRAJAÚ, MA', 'PEIXE, TO',
       'MIRACEMA -TO', 'MIRANORTE -TO', 'ESTREITO - MA',
       'DOIS IRMÃOS - TO', 'MIRACEMA - TO', 'CRISTALANDIA - TO',
       'RONCADO - PR', 'BENEDITO LEITE -MA', 'NTUM - MA',
       'SÃO FÉLIX DE BALSAS - MA', 'CAMPO GRANDE - MS', 'BRASÍLIA - DF',
       'IBIAÇÁ - RS', 'ARAGUACEMA - TO', 'MINAÇU - GO', 'SILVÂNIA -GO',
       'GUARAÍ - TO', 'CERES - GO', 'ARAGUAÇU - GO', 'BALSAS - MA',
       'GOIÂNIA - GO', 'GURUPÍ - TO', 'BREJINHO DE NAZARÉ - TO',
       'REDENÇÃO - PA', 'JAPIRA - PR', 'JAPIRA -PR', 'SÃO LUÍS - MA',
       'MANAUS - AM', 'APARECIDA DO RIO NEGRO -TO', 'COLMEIA - TO',
       'PUATA -MT', 'RIBEIRÃO PRETO - SP', 'ARAGUAINA - TO',
       'BELO HORIZONTE - MG', 'PARAUAPEBAS - PA', 'LUZIÂNIA - GO',
       'FORTALEZA -CE', 'CAXIAS - MA', 'SÃO PAULO - SP',
       'CONCEIÇÃO DO ARAGUAIA - PA', 'SALVADOR -BA', 'TUCUMÃ - PA',
       'COROATÁ - MA', 'IMPERATRIZ - MA', 'CUMARU -PA', 'GURUPI - TO',
       'PALMAS -TO', 'SÃO FÉLIX DO XINGU - PA', 'MARABA - PA',
       'TÓFILO OTONES - MG', 'RORAIMA', 'NATAL - RN', 'DIANÓPOLIS - TO',
       'XINGUARA - PA', 'FORMOSA - GO', 'ANAPOLIS - GO', 'GOIANÉSIA - PA',
       'SANTARÉM - PA', 'COROATÁ - PA', 'TOCANTINOPOLIS - TO',
       'PALMAS - TO', 'GOIÁS', 'PARAÍBA', 'PARÁ', 'BAHIA',
       'PASSAGEM FRANCA - MA', 'SÃO DOMINGOS DO MARANHÃO - MA',
       'ARRAIAS - TO', 'AMAPÁ', 'PARANGATU - GO', 'COLINAS - TO',
       'PIRIPIRI - PI', 'AUGUSTINÓPOLIS - TO', 'ARAGUAÍNA - TO',
       'PORTO NACIONAL - TO', 'GUAÍRA - SP', 'FRANCINÓPOLIS - PI',
       'PALMEIRAS DE GOIAS - GO', 'CEARÁ', 'GOIATUBA - GO',
       'FORMOSA DO ARAGUAIA - TO', 'COLINAS - MA', 'SANTO ANDRÉ - SP',
       'JUINA - MT', 'JOSELÂNDIA - MA', 'CAMPO FORMOSO - BA',
       'NOVA AURORA - TO', 'MARANHÃO', 'MARAMBÁ - PA', 'SÃO LUIS -MA',
       'NATIVIDADE - TO', 'GOIÂNIA - TO', 'PARAÍSO - TO',
       'AÇAILANDIA -MA', 'CAMPESTRE - MA', 'GRAJAUÍ - MA',
       'MORRO DO CHAPÉU - BA', 'ARARAQUARA - SP', 'TERESINA - PI',
       'SANTAREM - PA', 'XAMBIOÁ - TO', 'COMBINADO - TO', 'PIUM - TO',
       'SALVADOR - BA', 'TUPARETAMA - PE', 'BARRERINHA - MA',
       'GOIÁS - GO', 'RIO DE JANEIRO - RJ', 'SÃO JOSÉ DO EGITO - PE',
       'PALAMAS - TO', 'SERGIPE', 'ATIBAIA - SP', 'PARARI - PB',
       'CRISTALÂNDIA - TO', 'NOVO ACORDO - TO', 'MARABÁ - PA',
       'FILADELFIA - TO', 'CAROLINA - MA', 'OLINDA - PE', 'ANÁPOLIS - GO',
       'PALMAS - TO ', 'PASSOS - MG', 'ANANÁS - TO', 'PEDRO AFONSO - TO',
       'NOVA OLINDA - TO', 'MIRANORTE - TO', 'SÃO PEDRO - MA',
       'ALTAMIRA - PA', 'PENEDO - AL', 'RIO MARIA - PA', 'PALESTINA - PA',
       'AMATURA - AM', 'NOVA OLÍMPIA - MS', 'BACABAL - MA', 'BELÉM - PA',
       'ARAGUATINA - TO', 'POTANGATU - GO', 'ARAGUARI - MG',
       'FORTALEZA - CE', 'PARAÍSO -TO', 'SÃO VALÉRIO DA NATIVIDADE - TO',
       'VITORIA DO MIARIM - MA', 'PRESIDENTE KENNEDY - TO'], dtype=object)

In [ ]:
df.columns

Index(['sexo', 'idade', 'estado civil', 'nível de instrução', 'casa própria',
       'filhos', 'moradores', 'renda familiar', 'trabalho', 'renda pessoal',
       'tempo em palmas', 'renda anterior', 'qualidade de vida imigrante',
       'bens ao imigrar', 'qualidade em cinco anos',
       'pode melhorar em cinco anos', 'violencia', 'qualidade educaional',
       'setor de trabalho', 'que setor recomenda', 'cidade natal',
       'anos de trabalho', 'drogas', 'qualidade de vida nos últimos anos',
       'auxílio do governo', 'satisfação', 'número de amigos', 'lazer',
       'religião', 'já morou em outros lugares', 'ocupação em outro município',
       'sair de palmas', 'emprego específico'],
      dtype='object')

# Anos de Trabalho

In [ ]:
df['anos de trabalho'].unique()

array([6, 22, 5, 30, 3, 10, 20, 0, 1, 2, 25, 32, 36, 35, 34, 14, 15, 46,
       48, 4, 8, 17, 50, 40, 44, 31, 18, 21, 13, 12, 'X', 53, 63, 9, 19,
       38, 26, 7, 23, 24, 28, 52, 60, 16, 27, 11, '11 MESES', '3 MESES',
       '4 MESES', '1 MES'], dtype=object)

# Drogas

In [ ]:
df['drogas'].value_counts()

drogas
B    176
A     84
C     68
D      1
Name: count, dtype: int64

In [ ]:
df['drogas'].replace({'A':'Alto', 'B':'Moderado', 'C': 'Baixo', 'D': np.nan}, inplace=True)
df = df.rename(columns = {'drogas':'drogas em palmas'})
df['drogas em palmas'].unique()

<ipython-input-65-6aa6da7ad765>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['drogas'].replace({'A':'Alto', 'B':'Moderado', 'C': 'Baixo', 'D': np.nan}, inplace=True)

array(['Moderado', 'Baixo', 'Alto', nan], dtype=object)

In [ ]:
df.head()

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos,lazer,religião,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,F,23,Solteiro,4,Não,1,3,4200,Ajuda a família,2400,...,B,NENHUM,C,B,B,C,NÃO,X,B,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,M,38,Casado,3,Sim,2,5+,5000,Ajuda a família,3800,...,B,BOLSA FAMÍLIA,C,B,B,A,BELÉM - PA,PEDREIRO,B,GARI
2,M,26,Casado,4,Não,1,3,3000,Ajuda a família,1500,...,B,BOLSA FAMÍLIA,B,B,B,B,GURUPI - TO,VIGIA,B,SERVIÇOS GERAIS
3,F,26,Solteiro,5,Sim,1,3,3000,Recebe auxílio,1800,...,A,BOLSA FAMÍLIA,C,B,B,D,XINGUARA - PA,BALCONISTA,A,VENDEDORA
4,M,50,Viuvo,3,Sim,3+,1,1320,Sim,1320,...,B,NENHUM,A,B,B,B,FORTALEZA - CE,X,B,PORTEIRO

# qualidade de vida nos últimos anos

In [ ]:
df['qualidade de vida nos últimos anos'].unique()

array(['B', 'A', 'D', 'C', 'E'], dtype=object)

In [ ]:
df['qualidade de vida nos últimos anos'].replace({'A':'Melhorou Muito', 'B':'Melhorou', 'C':'Melhorou Pouco', 'D':'Não Melhorou', 'E':'Piorou'}, inplace=True)
df['qualidade de vida nos últimos anos'].unique()

array(['Melhorou', 'Melhorou Muito', 'Não Melhorou', 'Melhorou Pouco',
       'Piorou'], dtype=object)

# Satisfação

In [ ]:
df['satisfação'].unique()

array(['C', 'B', 'A', 'D'], dtype=object)

In [ ]:
df['satisfação'].replace({'A':'Muito Satisfeito', 'B':'Satisfeito', 'C':'Pouco Satisfeito', 'D':'Não Satisfeito'}, inplace=True)
df['satisfação'].unique()

<ipython-input-71-dabc05d75f78>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['satisfação'].replace({'A':'Muito Satisfeito', 'B':'Satisfeito', 'C':'Pouco Satisfeito', 'D':'Não Satisfeito'}, inplace=True)

array(['Pouco Satisfeito', 'Satisfeito', 'Muito Satisfeito',
       'Não Satisfeito'], dtype=object)

# Numero de Amigos

In [ ]:
df['número de amigos'].unique()

array(['B', 'A', 'D', 'C', 'V'], dtype=object)

In [ ]:
df['número de amigos'].replace({'A':'Muitos Amigos', 'B':'Moderado', 'C':'Poucos Amigos', 'D':'Nenhum Amigo', 'V': np.nan}, inplace=True)
df = df.rename(columns = {'número de amigos':'número de amigos palmas'})
df['número de amigos palmas'].unique()

<ipython-input-74-123289ac1950>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['número de amigos'].replace({'A':'Muitos Amigos', 'B':'Moderado', 'C':'Poucos Amigos', 'D':'Nenhum Amigo', 'V': np.nan}, inplace=True)

array(['Moderado', 'Muitos Amigos', 'Nenhum Amigo', 'Poucos Amigos', nan],
      dtype=object)

# Lazer

In [ ]:
df['lazer'].value_counts()

lazer
B    157
A     85
C     63
D     23
E      1
Name: count, dtype: int64

In [ ]:
df['lazer'].replace({'A':'Muito Bom', 'B':'Bom', 'C':'Moderado', 'D':'Ruim', 'E': np.nan}, inplace=True)
df = df.rename(columns = {'lazer':'lazer em palmas'})
df['lazer em palmas'].unique()

<ipython-input-77-4cf71b44415e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lazer'].replace({'A':'Muito Bom', 'B':'Bom', 'C':'Moderado', 'D':'Ruim', 'E': np.nan}, inplace=True)

array(['Bom', 'Muito Bom', 'Moderado', 'Ruim', nan], dtype=object)

# Religião

In [ ]:
df['religião'].unique()

array(['C', 'A', 'B', 'D', 'E'], dtype=object)

In [ ]:
df['religião'].replace({'A':'Mais de Uma por Semana', 'B':'Uma por Semana', 'C':'Menos de Uma ao Mês', 'D': 'Raramente Compareço', 'E': 'Não Frequento'}, inplace=True)
df = df.rename(columns = {'religião':'frequência igreja'})
df['frequência igreja'].value_counts()

<ipython-input-79-93e12b6ad52d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['religião'].replace({'A':'Mais de Uma por Semana', 'B':'Uma por Semana', 'C':'Menos de Uma ao Mês', 'D': 'Raramente Compareço', 'E': 'Não Frequento'}, inplace=True)

frequência igreja
Uma por Semana            81
Não Frequento             81
Raramente Compareço       69
Mais de Uma por Semana    68
Menos de Uma ao Mês       30
Name: count, dtype: int64

# Sair de Palmas

In [ ]:
df['sair de palmas'].unique()

array(['B', 'A', 'A (TAGUARUÇU - O CLIMA FRIO)',
       'A (NÃO GOSTA DA CIDADE)', 'A (QUALIDADE DE VIDA)',
       'A (MELHORSALÁRIOS)', 'A (EVOLUÇÃO PROFISSIONAL)',
       'A (UMA VIDA MAIS FÁCIL)', 'A (POLITICOS CORRUPTOS, CIDADE RUIM)',
       'B ', 'A (MELHORAR DE VIDA)', 'A (CLIMA)', 'A (CLIMA, SALÁRIO)',
       'A (FAMÍLIA, EMPREGO)', 'A (SALÁRIO, EMPREGO, CLIMA)',
       'A (FAMÍLIA, SALÁRIO)', 'A (SALÁRIO, CUSTO DE VIDA ALTO)',
       'A (FAZER MESTRADO E DOUTORADO)', 'A (TRABALHO)', 'A (FACULDADE)',
       'A (FAMÍLIA)', 'A (GOSTARIA DE MORAR PRÓXIMO AO MAR NA VELHICE)',
       'A (APOSENTADORIA)', 'A (MELHOR CUSTO BENEFÍCIO)',
       'A (SONHO, DESEJO PESSOAL)', 'A (MELHORES OPORTUNIDADES)', 'A ',
       'A (NOVO LUGAR PARA COMEÇAR)', 'A (FINANCEIRO)',
       'A (CRESCIMENTO PROFISSIONAL, NÃO GOSTO DE PALMAS)',
       'A (MELHORA PROFISSIONAL)', 'A (MELHORAR PROFISSIONALMENTE)',
       'A (CRESCIMENTO PROFISSIONAL)', 'A (ESTUDAR)',
       'A (MAIS OPORTUNIDADES)', 'A (SALÁRIO)',
       'A (CASO SEJA CHAMADO PARA OUTRA FILIAL DA EMPRESA)',
       'A (CONHECER)', 'A (PORQUE EU QUERO)',
       'A (CONHECER OUTROS LUGARES)', 'SETOR LABORATORIAL'], dtype=object)

In [ ]:
df['sair de palmas'] = df['sair de palmas'].apply(lambda x: re.sub(r'A.*', 'A', x))
df['sair de palmas'].replace({'A':'Sim', 'B':'Não'}, inplace=True)
df['sair de palmas'].value_counts()

<ipython-input-81-d1c653341a67>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sair de palmas'].replace({'A':'Sim', 'B':'Não'}, inplace=True)

sair de palmas
B           187
Sim          81
Não          60
SETOR LA      1
Name: count, dtype: int64

In [ ]:
df['sair de palmas'].replace({'B ':'Não', 'SETOR LA': 'Sim'}, inplace=True)
df['sair de palmas'].value_counts()

sair de palmas
Não    247
Sim     82
Name: count, dtype: int64

# Tratando Nulos

In [ ]:
df.head()

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos palmas,lazer em palmas,frequência igreja,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,F,23,Solteiro,4,Não,1,3,4200,Ajuda a família,2400,...,Melhorou,NENHUM,Pouco Satisfeito,Moderado,Bom,Menos de Uma ao Mês,NÃO,X,Não,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,M,38,Casado,3,Sim,2,5+,5000,Ajuda a família,3800,...,Melhorou,BOLSA FAMÍLIA,Pouco Satisfeito,Moderado,Bom,Mais de Uma por Semana,BELÉM - PA,PEDREIRO,Não,GARI
2,M,26,Casado,4,Não,1,3,3000,Ajuda a família,1500,...,Melhorou,BOLSA FAMÍLIA,Satisfeito,Moderado,Bom,Uma por Semana,GURUPI - TO,VIGIA,Não,SERVIÇOS GERAIS
3,F,26,Solteiro,5,Sim,1,3,3000,Recebe auxílio,1800,...,Melhorou Muito,BOLSA FAMÍLIA,Pouco Satisfeito,Moderado,Bom,Raramente Compareço,XINGUARA - PA,BALCONISTA,Sim,VENDEDORA
4,M,50,Viuvo,3,Sim,3+,1,1320,Sim,1320,...,Melhorou,NENHUM,Muito Satisfeito,Moderado,Bom,Uma por Semana,FORTALEZA - CE,X,Não,PORTEIRO

In [ ]:
df = df.replace({'X':np.nan, 'V':np.nan})
df.head()

<ipython-input-85-67cb957cf02a>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'X':np.nan, 'V':np.nan})

,sexo,idade,estado civil,nível de instrução,casa própria,filhos,moradores,renda familiar,trabalho,renda pessoal,...,qualidade de vida nos últimos anos,auxílio do governo,satisfação,número de amigos palmas,lazer em palmas,frequência igreja,já morou em outros lugares,ocupação em outro município,sair de palmas,emprego específico
0,F,23.0,Solteiro,4,Não,1,3,4200,Ajuda a família,2400,...,Melhorou,NENHUM,Pouco Satisfeito,Moderado,Bom,Menos de Uma ao Mês,NÃO,NaN,Não,OPERADOR DE CAIXA E DESIGNER DE SOMBRANCELHAS
1,M,38.0,Casado,3,Sim,2,5+,5000,Ajuda a família,3800,...,Melhorou,BOLSA FAMÍLIA,Pouco Satisfeito,Moderado,Bom,Mais de Uma por Semana,BELÉM - PA,PEDREIRO,Não,GARI
2,M,26.0,Casado,4,Não,1,3,3000,Ajuda a família,1500,...,Melhorou,BOLSA FAMÍLIA,Satisfeito,Moderado,Bom,Uma por Semana,GURUPI - TO,VIGIA,Não,SERVIÇOS GERAIS
3,F,26.0,Solteiro,5,Sim,1,3,3000,Recebe auxílio,1800,...,Melhorou Muito,BOLSA FAMÍLIA,Pouco Satisfeito,Moderado,Bom,Raramente Compareço,XINGUARA - PA,BALCONISTA,Sim,VENDEDORA
4,M,50.0,Viuvo,3,Sim,3+,1,1320,Sim,1320,...,Melhorou,NENHUM,Muito Satisfeito,Moderado,Bom,Uma por Semana,FORTALEZA - CE,NaN,Não,PORTEIRO

# Tratando Tipagen

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   sexo                                328 non-null    object
 1   idade                               312 non-null    float64
 2   estado civil                        329 non-null    object
 3   nível de instrução                  329 non-null    int64
 4   casa própria                        327 non-null    object
 5   filhos                              329 non-null    object
 6   moradores                           329 non-null    object
 7   renda familiar                      329 non-null    int64
 8   trabalho                            329 non-null    object
 9   renda pessoal                       329 non-null    int64
 10  tempo em palmas                     327 non-null    object
 11  renda anterior                      159 non-null    float64
 12  qualidade de vida imigrante         329 non-null    object
 13  bens ao imigrar                     329 non-null    object
 14  qualidade em cinco anos             329 non-null    object
 15  pode melhorar em cinco anos         329 non-null    object
 16  violencia                           328 non-null    object
 17  qualidade educaional                329 non-null    object
 18  setor de trabalho                   329 non-null    object
 19  que setor recomenda                 329 non-null    object
 20  cidade natal                        329 non-null    object
 21  anos de trabalho                    302 non-null    object
 22  drogas em palmas                    328 non-null    object
 23  qualidade de vida nos últimos anos  329 non-null    object
 24  auxílio do governo                  329 non-null    object
 25  satisfação                          329 non-null    object
 26  número de amigos palmas             328 non-null    object
 27  lazer em palmas                     328 non-null    object
 28  frequência igreja                   329 non-null    object
 29  já morou em outros lugares          329 non-null    object
 30  ocupação em outro município         161 non-null    object
 31  sair de palmas                      329 non-null    object
 32  emprego específico                  295 non-null    object
dtypes: float64(2), int64(3), object(28)
memory usage: 84.9+ KB

In [ ]:
colunas_numericas = ['renda familiar', 'renda anterior', 'renda pessoal']
df[colunas_numericas] = df[colunas_numericas].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   sexo                                328 non-null    object
 1   idade                               312 non-null    float64
 2   estado civil                        329 non-null    object
 3   nível de instrução                  329 non-null    int64
 4   casa própria                        327 non-null    object
 5   filhos                              329 non-null    object
 6   moradores                           329 non-null    object
 7   renda familiar                      329 non-null    float64
 8   trabalho                            329 non-null    object
 9   renda pessoal                       329 non-null    float64
 10  tempo em palmas                     327 non-null    object
 11  renda anterior                      159 non-null    float64
 12  qualidade de vida imigrante         329 non-null    object
 13  bens ao imigrar                     329 non-null    object
 14  qualidade em cinco anos             329 non-null    object
 15  pode melhorar em cinco anos         329 non-null    object
 16  violencia                           328 non-null    object
 17  qualidade educaional                329 non-null    object
 18  setor de trabalho                   329 non-null    object
 19  que setor recomenda                 329 non-null    object
 20  cidade natal                        329 non-null    object
 21  anos de trabalho                    302 non-null    object
 22  drogas em palmas                    328 non-null    object
 23  qualidade de vida nos últimos anos  329 non-null    object
 24  auxílio do governo                  329 non-null    object
 25  satisfação                          329 non-null    object
 26  número de amigos palmas             328 non-null    object
 27  lazer em palmas                     328 non-null    object
 28  frequência igreja                   329 non-null    object
 29  já morou em outros lugares          329 non-null    object
 30  ocupação em outro município         161 non-null    object
 31  sair de palmas                      329 non-null    object
 32  emprego específico                  295 non-null    object
dtypes: float64(4), int64(1), object(28)
memory usage: 84.9+ KB

In [ ]:
df['idade'].isnull().sum()

17

In [ ]:
df['idade'] = df['idade'].fillna(df['idade'].median())
df['idade'].unique()

array([23., 38., 26., 50., 22., 27., 42., 36., 41., 18., 31., 19., 48.,
       21., 68., 52., 34., 32., 35., 66., 46., 24., 29., 28., 33., 72.,
       49., 62., 60., 67., 25., 20., 40., 16., 86., 43., 59., 30., 39.,
       55., 63., 70., 53., 45., 56., 37., 44., 47., 58., 80., 15., 51.,
       71., 65., 54., 17., 57.])

In [ ]:
df['idade'] = df['idade'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   sexo                                328 non-null    object
 1   idade                               329 non-null    int64
 2   estado civil                        329 non-null    object
 3   nível de instrução                  329 non-null    int64
 4   casa própria                        327 non-null    object
 5   filhos                              329 non-null    object
 6   moradores                           329 non-null    object
 7   renda familiar                      329 non-null    float64
 8   trabalho                            329 non-null    object
 9   renda pessoal                       329 non-null    float64
 10  tempo em palmas                     327 non-null    object
 11  renda anterior                      159 non-null    float64
 12  qualidade de vida imigrante         329 non-null    object
 13  bens ao imigrar                     329 non-null    object
 14  qualidade em cinco anos             329 non-null    object
 15  pode melhorar em cinco anos         329 non-null    object
 16  violencia                           328 non-null    object
 17  qualidade educaional                329 non-null    object
 18  setor de trabalho                   329 non-null    object
 19  que setor recomenda                 329 non-null    object
 20  cidade natal                        329 non-null    object
 21  anos de trabalho                    302 non-null    object
 22  drogas em palmas                    328 non-null    object
 23  qualidade de vida nos últimos anos  329 non-null    object
 24  auxílio do governo                  329 non-null    object
 25  satisfação                          329 non-null    object
 26  número de amigos palmas             328 non-null    object
 27  lazer em palmas                     328 non-null    object
 28  frequência igreja                   329 non-null    object
 29  já morou em outros lugares          329 non-null    object
 30  ocupação em outro município         161 non-null    object
 31  sair de palmas                      329 non-null    object
 32  emprego específico                  295 non-null    object
dtypes: float64(3), int64(2), object(28)
memory usage: 84.9+ KB

In [ ]:
df['idade'].value_counts()

idade
28    32
27    17
23    16
26    15
24    12
25    12
30    12
16    11
19    11
18    11
20    10
29    10
17     9
35     9
22     9
50     7
34     7
40     6
38     6
32     6
52     6
21     6
48     6
41     6
45     5
43     5
15     5
42     5
37     4
60     4
36     4
31     4
68     4
49     3
33     3
46     3
58     3
62     3
44     2
51     2
47     2
67     1
54     1
65     1
71     1
80     1
66     1
56     1
53     1
70     1
63     1
55     1
39     1
59     1
86     1
72     1
57     1
Name: count, dtype: int64

# Exportando

In [ ]:
df.to_excel('Palmas dataset tratado.xlsx')
df.to_csv('Palmas dataset tratado.csv')